#page-container {
    text-align: center;
}

#logo {
    width: 40px;
    height: 45px;
    padding-top: 30px;
    transition: 0.5s;
}

#logo:hover {
    transform: scale(1.05);
}

body {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
}

#title {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 85px;
    margin: 0;
    padding-top: 50px;
    text-shadow: 0px 0px 4px;
}

#moto {
    font-family: Helvetica, sans-serif;
    font-weight: bolder;
    margin: 0;
    font-size: 50px;
    padding-top: 20px;
    padding-bottom: 5px;
    text-shadow: 0px 0px 4px;

}

#para {
    font-family: Helvetica, sans-serif;
    color: grey;
    font-size: 25px;
    margin: 0;
    padding-bottom: 70px;
    text-shadow: 0px 0px 5px;
}

#btn-1 {
    border-radius: 80px;
    border-color: white;
    border-width: 3px;
    color: whitesmoke;
    background-color: black;
    font-family: Helvetica, sans-serif;
    margin: 0;
    font-size: 18px;
    padding: 20px;
    font-weight: bolder;
    transition: 0.5s;
    box-sizing: 0px 20px 50px;
    text-shadow: 0px 0px 3px;
}

#btn-1:hover {
    background-color: white;
    color: gray;
    border-color: gray;
    transform: scale(1.05);
}

#gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5%;
}

#product-container {
    text-align: center;
    border-radius: 20px;
    background-color: white;
    border-color: black;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.8%;
    margin-bottom: 2.8%;
    max-width: 30%;
    box-shadow: 0px 0px 20px;
    transition: transform 0.5s, box-shadow 0.5s;
}

#product-container:hover {
    transform: scale(1.05);
}

#product {
    width: 260px;
    height: 140px;
    padding-top: 60px;
}

#product-name {
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    color: black;
    font-weight: bolder;
    margin: 0;
    padding-top: 20px;
    padding-left: 12%;
    padding-bottom: 3%;
    text-align: left;
}

#product-details {
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    text-align: left;
    padding: 12%;
    margin: 0;
    padding-top: 0;
    color: gray;
}

#cart {
    border-radius: 50px;
    background-color: rgb(86, 150, 233);
    color: white;
    border-color: rgb(86, 150, 233);
    padding: 2.6%;
    margin: 5%;
    margin-bottom: 10%;
    margin-left: 12%;
    float: left;
    font-weight: bold;
    transition: 0.7s;
}

#more {
    border-radius: 50px;
    background-color: white;
    color: black;
    border-color: black;
    padding: 2.5%;
    margin-top: 4.6%;
    float: left;
    margin-bottom: 10%;
    font-weight: bold;
    transition: 0.7s;
}

#more:hover {
    background-color: rgb(184, 184, 184);
    color: rgb(0, 0, 0);
    border-color: rgb(185, 185, 185);
}

#cart:hover {
    box-shadow: 2px 2px 50px;
    background-color: rgb(10, 90, 194);
}